<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group" [ngStyle]="{ color: onlyOdd ? 'red' : 'green' }">
        <div *ngIf="onlyOdd" ngClass="odd = onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNum">{{ odd }}</li>
        </div>
        <div *ngIf="!onlyOdd" ngClass="even = !onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNum">
            {{ even }}
          </li>
        </div>
      </ul>

      <br />

      <!-- USING OUR OWN STRUCTURAL DIRECTIVE -->
      <h4>USING OUR OWN STRUCTURAL DIRECTIVE</h4>
      <ul class="list-group" [ngStyle]="{ color: onlyOdd ? 'red' : 'green' }">
        <div *appUnless="!onlyOdd" ngClass="odd = onlyOdd">
          <li class="list-group-item" *ngFor="let odd of oddNum">{{ odd }}</li>
        </div>
        <div *appUnless="onlyOdd" ngClass="even = !onlyOdd">
          <li class="list-group-item" *ngFor="let even of evenNum">
            {{ even }}
          </li>
        </div>
      </ul>

      <p appBasicHighlight>
        Para with custom highlight Directive. Using DOM directly. Not a good
        way.
      </p>
      <p appBetterHighlight [defaultColor]="'green'" [hoverColor]="'yellow'">
        Para with custom highlight Directive. Using Renderer. Better way, always
        use this.
      </p>
      <p appBetterHighlight>
        Para with custom highlight Directive and default property binding.
      </p>
    </div>
  </div>
</div>
